# This file is used to specify which files or directories to ignore when committing to the repository.

# Ignore all files in the directory named __pycache__
__pycache__/

# Ignore all files in the directory named tesseract-ocr/
tesseract-ocr/

# Ignore all files in the directory named venv/ and .vscode/
.venv/
.vscode
.vscode/settings.json

# Ignore all files in the directory named build/ and dist/
build/
dist/

# Ignore all files in the directory named test/
test/
maintest.py

# Ignore any file with the following extensions:
*.cfg
*.spec
*.log
*.txt
SDargs.json
inputbox.py
